build
/demo/demo00.pk4
*.suo
/neo/doom.sln.DotSettings.user
/neo/doom.opensdf
/neo/doom.sdf

/neo/ipch/idlib-ec03c0d9/*.ipch
/neo/ipch/typeinfo-590dd4a3/*.ipch
/neo/workdirectory/DOOM3.exe
/neo/workdirectory/DOOM3.ilk
/neo/workdirectory/DOOM3.map
/neo/workdirectory/Doom3.pdb
/neo/workdirectory/gamex86.dll
/neo/workdirectory/gamex86.exp
/neo/workdirectory/gamex86.ilk
/neo/workdirectory/gamex86.lib
/neo/workdirectory/gamex86.map
/neo/workdirectory/gamex86.pdb
/neo/demo/warnings.txt

/neo/demo/*

/web/obj
/web/bin

/web/*.user

/web/doom3.js
/web/doom3.js.map

*.ipch
