<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".skin"/>
          <add fileExtension=".skin" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".af" />
      <mimeMap fileExtension=".af" mimeType="text/plain" />
      <remove fileExtension=".ase" />
      <mimeMap fileExtension=".ase" mimeType="text/plain" />
      <remove fileExtension=".aas48" />
      <mimeMap fileExtension=".aas48" mimeType="text/plain" />
      <remove fileExtension=".cfg" />
      <mimeMap fileExtension=".cfg" mimeType="text/plain" />
      <remove fileExtension=".cm" />
      <mimeMap fileExtension=".cm" mimeType="text/plain" />
      <remove fileExtension=".dat" />
      <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
      <remove fileExtension=".dds" />
      <mimeMap fileExtension=".dds" mimeType="application/octet-stream" />
      <remove fileExtension=".def" />
      <mimeMap fileExtension=".def" mimeType="text/plain" />
      <remove fileExtension=".fx" />
      <mimeMap fileExtension=".fx" mimeType="text/plain" />
      <remove fileExtension=".gui" />
      <mimeMap fileExtension=".gui" mimeType="text/plain" />
      <remove fileExtension=".lang" />
      <mimeMap fileExtension=".lang" mimeType="text/plain" />
      <remove fileExtension=".lwo" />
      <mimeMap fileExtension=".lwo" mimeType="application/octet-stream" />
      <remove fileExtension=".map" />
      <mimeMap fileExtension=".map" mimeType="text/plain" />
      <remove fileExtension=".md5anim" />
      <mimeMap fileExtension=".md5anim" mimeType="text/plain" />
      <remove fileExtension=".md5camera" />
      <mimeMap fileExtension=".md5camera" mimeType="text/plain" />
      <remove fileExtension=".md5mesh" />
      <mimeMap fileExtension=".md5mesh" mimeType="text/plain" />
      <remove fileExtension=".mtr" />
      <mimeMap fileExtension=".mtr" mimeType="text/plain" />
      <remove fileExtension=".pd" />
      <mimeMap fileExtension=".pd" mimeType="text/plain" />
      <remove fileExtension=".pda" />
      <mimeMap fileExtension=".pda" mimeType="text/plain" />
      <remove fileExtension=".proc" />
      <mimeMap fileExtension=".proc" mimeType="text/plain" />
      <remove fileExtension=".prt" />
      <mimeMap fileExtension=".prt" mimeType="text/plain" />
      <remove fileExtension=".roq" />
      <mimeMap fileExtension=".roq" mimeType="application/octet-stream" />
      <remove fileExtension=".script" />
      <mimeMap fileExtension=".script" mimeType="text/plain" />
      <remove fileExtension=".skin" />
      <mimeMap fileExtension=".skin" mimeType="text/plain" />
      <remove fileExtension=".sndshd" />
      <mimeMap fileExtension=".sndshd" mimeType="text/plain" />
      <remove fileExtension=".spec" />
      <mimeMap fileExtension=".spec" mimeType="text/plain" />
      <remove fileExtension=".tga" />
      <mimeMap fileExtension=".tga" mimeType="application/octet-stream" />
      <remove fileExtension=".vert" />
      <mimeMap fileExtension=".vert" mimeType="text/plain" />
      <remove fileExtension=".frag" />
      <mimeMap fileExtension=".frag" mimeType="text/plain" />
      <remove fileExtension=".vpf" />
      <mimeMap fileExtension=".vpf" mimeType="text/plain" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="application/octet-stream" />
      <remove fileExtension=".wav" />
      <mimeMap fileExtension=".wav" mimeType="application/octet-stream" />
      <remove fileExtension=".vp" />
      <mimeMap fileExtension=".vp" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>
